* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 8vw);
  grid-template-rows: repeat(3, 8vw);
}

.box {
  background-color: #000;
  border: 2px solid #fff;
  color: #fff;
  font-size: 5vw;
  cursor: pointer;
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bt {
  border-top: none;
}
.bb {
  border-bottom: none;
}
.bl {
  border-left: none;
}
.br {
  border-right: none;
}

.btn {
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#reset-btn {
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid #fff;
  background: #000;
  color: #fff;
  border-radius: 1rem;
  padding: 1rem;
}
#new-btn {
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  border: 3px solid #fff;
  background: #000;
  color: #fff;
  border-radius: 1rem;
  padding: 1rem;
}

.msg-con {
  gap: 1.5rem;
  height: 16vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.msg {
  color: navajowhite;
  font-size: 2rem;
}

.hide {
  display: none;
}
